{% extends "base.html" %}<!--Extends content from the base html page-->
{% block  content %}<!--Extends content from the base html page-->
<div class="jumbotron"><!--Adds jumbotron style to page-->
  <h1>{{person.id}} {{person.name}} Heart Rate</h1><!--Prints the name and Id of the soldier whos heart rate you are viewing-->

  <table class="table"><!--Creates table to display data, bootstrap class 'table' added to improve style of table-->
    <thead class="thead-dark"><!--Bootstrap style gives a dark backround to table headings-->
      <tr><!--Creates a row in the table-->
        <th scope="col">Heart Rate </th><!--Column heading-->
        <th scope="col">Time </th><!--Column heading-->
      </tr>
    </thead>
    <tbody><!--body of table-->

      {% for pte in Heart %}<!--For loop used to print all values to the page-->
      <tr><!--Table row-->

      <td scope="row">{{pte.heart_rate}}</td><!--Prints value for heart rate-->
      <td>{{pte.update_time}}</td><!--prints value for time-->

      </tr>

      {% endfor %}<!--end of for loop-->

    </tbody>
  </table>

</div>

{% endblock %}
