{% extends "base.html" %}<!--Extends content from the base html page-->
{% block  content %}<!--Extends content from the base html page-->
<div class="jumbotron"><!--Adds bootstrap jumbotron style to page -->
  <h1>Add Section Member</h1><!--Prints name of page to user -->
  <p>Fill in Service number, name and Section Number to add person to Section.</p><!--Prints instructions to the user -->

  <form method="POST"><!--Form opening tag with post method included -->

            {{form.hidden_tag()}}
            {{form.id.label}} {{form.id()}}<!--input for the army number of the soldier -->
            {{form.name.label}} {{form.name()}}<!--Input for the soldiers name -->
            {{form.role.label}} {{form.role()}}<!--Input for the role of the soldier -->
            {{form.section_id.label}} {{form.section_id()}}<!--Input section id of soldier -->
            {{form.submit()}}<!--Submit button for form press to send form information to flask -->

  </form>

</div>

{% endblock %}<!--Ends block -->
