<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!--This base html file extends its contents to all other  using the block command this allows the a navbar to be added to all pages with minimum code -->


  <!--Belov are links to the bootstrap files held in the static folder-->
    <link rel="stylesheet" href="/static/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="/static/jquery-3.4.1.js" ></script>
    <script src="/static/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/static/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    {% block  scripts %}<!--labels the block of scripts to extend to other html pages -->

    {% endblock %}<!--ends the block -->

    <title>Section Page</title><!--prints the title of the page in the tab at the top of the page -->
  </head>
  <body>

    <nav class="navbar navbar-expand-sm navbar-light bg-success mb-3"><!--Nav bar created with bootstrap style included -->

      <div class="container"><!--Container to hold the links in the navbar -->
        <a class="navbar-brand" href="#">Section Managment System</a><!--prints title on left hand side of the page -->
        <ul class="navbar-nav">
          <li class="nav-item">
              <a class = "nav-item nav-link" href="{{url_for('index')}}">Home</a><!--Link to return to home page -->
          </li>
           <li class="nav-item dropdown"><!-- -->
               <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Update Section</a><!--drop down link for options to update the section -->
                 <div class="dropdown-menu">
                  <a class = "dropdown-item" href="{{url_for('add_section')}}">Create Section</a><!--Link to a page to add a section -->
                  <a class = "dropdown-item" href="{{url_for('delete_section')}}">Remove Section</a><!--Link to a page to remove a section member -->
                  <a class = "dropdown-item" href="{{url_for('add_soldier')}}">Add to Section</a><!--Link to a page to Add a person to the section -->
                  <a class = "dropdown-item" href="{{url_for('delete_soldier')}}">Remove from Section</a><!--Link to a page to remove a person from the section -->
                  <a class = "dropdown-item" href="{{url_for('add_ammo')}}">Add Amunition to Section</a><!--Link to a page to Add ammunition to the section -->
                </div>
            </li>
            <li class="nav-item dropdown"><!-- -->
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">View Section</a><!--drop down menu to view section -->
                  <div class="dropdown-menu">
                    <a class = "dropdown-item" href="{{url_for('section_overview')}}">Section Overview</a><!--Displays Owerview of section information -->
                    <a class = "dropdown-item" href="{{url_for('list_section_members')}}">List of Section</a><!--Displays a detailed list of all members of the section-->
                    <a class = "dropdown-item" href="{{url_for('view_heart')}}">View Soldier Heart rate</a><!--Displays the heart rate over time of a selected soldier -->
                    <a class = "dropdown-item" href="{{url_for('view_location')}}">View Soldier Location</a><!--Views the location over time of the members of a section -->
                  </div>
              </li>
        </ul>

      </div>

    </nav>

    {% block  content %}<!--Block content to be extended to other pages  -->

    {% endblock %}<!--End of block -->


  </body>
</html>
